<!doctype html>
<html>

<head>
  <title>Clinic-R Report</title>
</head>
<style>
  .test {
    display: flex;
    justify-content: flex-start;
  }

  .a,
  .b {
    width: 100px;
    height: 300px;
    background: gray;
  }
</style>

<body>
  <div class="test">
    <div class="a">
      A-B-C-D-E-F-G-H
    </div>
    <div class="b">
      M-N-O-P-Q-R-S-T
    </div>
  </div>
</body>

</html>